:root {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #EAEAEB; /* Off-white for text */
  background-color: #121212; /* Dark background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #000000; /* Black for the very back */
}

#root {
  width: 100vw;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} 